<div class="siderbar">
  <div class="infoAccount">
    <div class="outline_avatar">
      <img class="avatar" src="img/WIN_20230919_18_19_30_Pro.jpg" alt="avatar">
    </div>
    <div class="infoAccount_info">
      <h2 class="nameAdmin">ThaisTam</h2>
      <p class="role">sale</p>
    </div>
  </div>
  <hr>
  <div class="sidebar_menu">
    <ul class="menu">
      <li><i class="ti-dashboard icon"></i><p>Dashboard</p></li>
      <li><i class="ti-menu icon"></i><p>Manager Property</p></li>
      <li class="sub_menu">
        <i class="ti-write icon"></i>
        <p>Manager Full Contact</p>
        <ul class="sub">
          <li><a href="/full-contract">Trả 1 lần</a></li>
          <li><a href="/installment-contract">Trả góp</a></li>
          <li><a href="/add-contract">Thêm hợp đồng</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>