USE [master]
GO
/****** Object:  Database [QUANLYBDS_TEAM3]    Script Date: 21/11/2023 2:02:26 CH ******/
CREATE DATABASE [QUANLYBDS_TEAM3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYBDS_TEAM3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QUANLYBDS_TEAM3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYBDS_TEAM3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QUANLYBDS_TEAM3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYBDS_TEAM3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYBDS_TEAM3]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 21/11/2023 2:02:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[Full_Name] [nvarchar](50) NULL,
	[Role] [nvarchar](30) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 21/11/2023 2:02:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[City_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 21/11/2023 2:02:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[City_ID] [int] NOT NULL,
	[District_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Full_Contract]    Script Date: 21/11/2023 2:02:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Full_Contract](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Full_Contract_Code] [varchar](16) NULL,
	[Customer_Name] [nvarchar](50) NOT NULL,
	[Year_Of_Birth] [int] NULL,
	[SSN] [varchar](15) NOT NULL,
	[Customer_Address] [nvarchar](100) NULL,
	[Mobile] [varchar](15) NULL,
	[Property_ID] [int] NOT NULL,
	[Date_Of_Contract] [date] NULL,
	[Price] [numeric](18, 0) NULL,
	[Deposit] [numeric](18, 0) NULL,
	[Remain] [numeric](18, 0) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Full_Contract_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Installment_Contract]    Script Date: 21/11/2023 2:02:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Installment_Contract](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Installment_Contract_Code] [varchar](10) NULL,
	[Customer_Name] [nvarchar](50) NOT NULL,
	[Year_Of_Birth] [int] NULL,
	[SSN] [varchar](15) NOT NULL,
	[Customer_Address] [nvarchar](100) NULL,
	[Mobile] [varchar](15) NULL,
	[Property_ID] [int] NOT NULL,
	[Date_Of_Contract] [date] NULL,
	[Installment_Payment_Method] [nvarchar](10) NOT NULL,
	[Payment_Period] [int] NULL,
	[Price] [numeric](18, 0) NULL,
	[Deposit] [numeric](18, 0) NULL,
	[Loan_Amount] [numeric](18, 0) NULL,
	[Taken] [numeric](18, 0) NULL,
	[Remain] [numeric](18, 0) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Installment_Contract_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Property]    Script Date: 21/11/2023 2:02:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Property_Code] [varchar](15) NULL,
	[Property_Name] [nvarchar](50) NULL,
	[Property_Type_ID] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[District_ID] [int] NOT NULL,
	[Address] [nvarchar](100) NULL,
	[Area] [int] NULL,
	[Bed_Room] [int] NULL,
	[Bath_Room] [int] NULL,
	[Price] [numeric](18, 0) NULL,
	[Installment_Rate] [float] NULL,
	[Avatar] [nvarchar](max) NULL,
	[Album] [nvarchar](max) NULL,
	[Property_Status_ID] [int] NOT NULL,
 CONSTRAINT [PK_Property] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Property_Service]    Script Date: 21/11/2023 2:02:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property_Service](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Service_ID] [int] NOT NULL,
	[Property_ID] [int] NOT NULL,
 CONSTRAINT [PK_Property_Service] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Property_Status]    Script Date: 21/11/2023 2:02:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property_Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Property_Status_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Property_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Property_Type]    Script Date: 21/11/2023 2:02:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property_Type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Property_Type_Name] [nvarchar](50) NULL,
	[Property_Amount] [int] NULL,
 CONSTRAINT [PK_Property_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 21/11/2023 2:02:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Service_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Installment_Contract] ADD  CONSTRAINT [DF_Installment_Contract_Installment_Payment_Method]  DEFAULT (N'Tháng') FOR [Installment_Payment_Method]
GO
ALTER TABLE [dbo].[Installment_Contract] ADD  CONSTRAINT [DF_Installment_Contract_Taken]  DEFAULT ((0)) FOR [Taken]
GO
ALTER TABLE [dbo].[Property_Type] ADD  CONSTRAINT [DF_Property_Type_Property_Amount]  DEFAULT ((0)) FOR [Property_Amount]
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD  CONSTRAINT [FK_District_City] FOREIGN KEY([City_ID])
REFERENCES [dbo].[City] ([ID])
GO
ALTER TABLE [dbo].[District] CHECK CONSTRAINT [FK_District_City]
GO
ALTER TABLE [dbo].[Full_Contract]  WITH CHECK ADD  CONSTRAINT [FK_Full_Contract_Property] FOREIGN KEY([Property_ID])
REFERENCES [dbo].[Property] ([ID])
GO
ALTER TABLE [dbo].[Full_Contract] CHECK CONSTRAINT [FK_Full_Contract_Property]
GO
ALTER TABLE [dbo].[Installment_Contract]  WITH CHECK ADD  CONSTRAINT [FK_Installment_Contract_Property] FOREIGN KEY([Property_ID])
REFERENCES [dbo].[Property] ([ID])
GO
ALTER TABLE [dbo].[Installment_Contract] CHECK CONSTRAINT [FK_Installment_Contract_Property]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [FK_Property_District] FOREIGN KEY([District_ID])
REFERENCES [dbo].[District] ([ID])
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [FK_Property_District]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [FK_Property_Property_Status] FOREIGN KEY([Property_Status_ID])
REFERENCES [dbo].[Property_Status] ([ID])
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [FK_Property_Property_Status]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [FK_Property_Property_Type] FOREIGN KEY([Property_Type_ID])
REFERENCES [dbo].[Property_Type] ([ID])
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [FK_Property_Property_Type]
GO
ALTER TABLE [dbo].[Property_Service]  WITH CHECK ADD  CONSTRAINT [FK_Property_Service_Property] FOREIGN KEY([Property_ID])
REFERENCES [dbo].[Property] ([ID])
GO
ALTER TABLE [dbo].[Property_Service] CHECK CONSTRAINT [FK_Property_Service_Property]
GO
ALTER TABLE [dbo].[Property_Service]  WITH CHECK ADD  CONSTRAINT [FK_Property_Service_Service] FOREIGN KEY([Service_ID])
REFERENCES [dbo].[Service] ([ID])
GO
ALTER TABLE [dbo].[Property_Service] CHECK CONSTRAINT [FK_Property_Service_Service]
GO
USE [master]
GO
