<section class="w-full">
  <table class="w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">Full_Contract_Code</th>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">Customer_Name</th>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">Year_Of_Birth</th>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">SSN</th>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">Customer_Address</th>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">Mobile</th>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">Property_ID</th>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">Date_Of_Contract</th>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">Price</th>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">Deposit</th>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">Remain</th>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">Status</th>



      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
    </tbody>
  </table>
  <script>
    fetch('/api/fullcontract/getall')
      .then(response => response.json())
      .then(data => {
        const tableBody = document.querySelector('tbody');
        data.forEach(contract => {
          const row = document.createElement('tr');
          const columns = [
            'Full_Contract_Code',
            'Customer_Name',
            'Year_Of_Birth',
            'SSN',
            'Customer_Address',
            'Mobile',
            'Property_ID',
            'Date_Of_Contract',
            'Price',
            'Deposit',
            'Remain',
            'Status'
          ];
          columns.forEach(column => {
            const cell = document.createElement('td');
            const value = contract[column];
            cell.textContent = value !== null ? value : 'null';
            row.appendChild(cell);
          });
          tableBody.appendChild(row);
        });
      })
      .catch(error => console.error('Error fetching data:', error));
  </script>
  
  
</section>
