<section class="fullcontract">
  <div class="title_fullcontract">
    <div class="title">
      <i class="ti-files icon_contract"></i>
      <h1>Danh sách hợp đồng</h1>
    </div>
    <h1 class="text-9xl">Trả góp 1 lần</h1>
    <div class="search_icon">
      <i class="ti-search icon_search"></i>
    </div>
  </div>
</section>
<!-- tạo bảng với các cột: mã hợp đồng, họ và tên, số tiền đã cọc, giá trị hợp đồng, số tiền còn lại, Trạng thái, ngày lập hợp đồng -->
<section class="table_fullcontract">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Mã hợp đồng</th>
        <th scope="col">Họ và tên</th>
        <th scope="col">Số tiền đã cọc</th>
        <th scope="col">Giá trị hợp đồng</th>
        <th scope="col">Số tiền còn lại</th>
        <th scope="col">Trạng thái</th>
        <th scope="col">Ngày lập hợp đồng</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">HD001</th>
        <td class="pa">Nguyễn Văn A</td>
        <td>1.000.000</td>
        <td>10.000.000</td>
        <td>9.000.000</td>
        <td>Đang trả góp</td>
        <td>20/10/2020</td>
      </tr>
    </tbody>
  </table>