<section class="fullcontract">
  <div class="title_fullcontract">
    <div class="title">
      <i class="ti-files icon_contract"></i>
      <h1>Danh sách hợp đồng</h1>
    </div>
    <h1 class="text-9xl pr-40">Trả góp 1 lần</h1>
    <div class="search_icon">
      <i class="ti-search icon_search"></i>
    </div>
  </div>
</section>
<section class="w-full">
  <table class="w-full table-auto divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">Mã hợp đồng</th>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">Họ và tên</th>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">Số tiền đã cọc</th>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">Giá trị hợp đồng</th>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">Số tiền còn lại</th>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">Trạng thái</th>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">Ngày lập hợp đồng</th>

      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
    </tbody>
  </table>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    axios.get('/api/fullcontract/getall')
      .then(response => {
        const data = response.data;
        const tableBody = document.querySelector('tbody');
        const rows = data.map(contract => {
          const row = document.createElement('tr');
          const columns = [
            'Full_Contract_Code',
            'Customer_Name',
            'Deposit',
            'Price',
            'Remain',
            'Status',
            'Date_Of_Contract'
          ];
          columns.forEach(column => {
            const cell = document.createElement('td');
            cell.className = "px-6 py-3 text-center text-base font-medium text-black-500 capitalize border";
            let value = contract[column];
            if (column === 'Status') {
              value = value ? 'Đã thanh toán' : 'Chưa thanh toán';
            }
            cell.textContent = value !== null ? value : 'null';
            row.appendChild(cell);
          });
          row.addEventListener('click', () => {
            window.location.href = `/detailContract/${contract.Full_Contract_Code}`;
          });
          return row;
        });
        rows.forEach(row => tableBody.appendChild(row));
      })
      .catch(error => console.error('Error fetching data:', error));
  </script>
  
  
</section>
