<section class="fullcontract">
  <div class="title_fullcontract">
    <div class="title">
      <i class="ti-files icon_contract"></i>
      <h1>Danh sách hợp đồng</h1>
    </div>
    <h1 class="text-9xl">Trả góp 1 lần</h1>
    <div class="search_icon">
      <i class="ti-search icon_search"></i>
    </div>
  </div>
</section>
<!-- tạo bảng với các cột: mã hợp đồng, họ và tên, số tiền đã cọc, giá trị hợp đồng, số tiền còn lại, Trạng thái, ngày lập hợp đồng -->
<section class="w-full">
  <table class="w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th class="px-6 py-3 text-center text-base font-medium text-black-500 capitalize border">Mã hợp đồng</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% contracts.forEach(contract => { %>
        <tr>
          <th class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium text-black-900"><%= contract.Full_Contract_Code %></th>
        </tr>
      <% }) %>
    </tbody>
  </table>
</section>